.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-container > button {
  width: 75%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background: var(--green-600);
  color: white;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  max-height: 44px;
}
