.textarea-container {
  flex-grow: 1;
}

.textarea-container textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  resize: none;
  font-size: large;
}

.textarea-container label {
  display: block;
  margin-bottom: 0.5rem;
}

textarea:focus {
  outline: none;
  border-color: var(--green-600);
}
