@font-face {
  font-family: "Karla";
  src: url("fonts/Karla-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Karla";
  src: url("fonts/Karla-Bold.ttf") format("truetype");
  font-weight: bold;
}

:root {
  font-family: "Karla", sans-serif;
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  min-height: 100vh;
}

.green-200 {
  color: var(--green-200);
}

.green-600 {
  color: var(--green-600);
}

.red {
  color: var(--red);
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--green-200);
}

.title {
  font-weight: bold;
  font-size: 0.8rem;
}

.flex-col {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-grow: 1;
}

#query > label {
  display: block;
  margin-bottom: 0.5rem;
}

.error {
  color: var(--red);
  font-size: 0.9rem;
  height: 0.5rem;
}

#query-label {
  display: block;
  margin-bottom: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: white;
  gap: 1rem;
  border-radius: 1rem;
}

/* For tablets: */
@media (min-width: 768px) {
  .container {
    width: 70%;
  }
}

/* For large desktops and TVs: */
@media (width >= 1200px) {
  .container {
    width: 40%;
  }
}

/* For phones and small */
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}
